# R Crash Course

In [27]:
print("Hello World")

[1] "Hello World"

In [28]:
#Basic Calculation
1+1
2*2
5-3
(1+2+3)*5
5^2 #ยกกำลัง
5**2 #ยกกำลัง

In [29]:
'''
Data Types in R
numeric => 34,100.25, 1500
character => "hello world"
logical => TRUE FALSE

ประกาศตัวแปรใน R สามารถใช้ได้ทั้ง <- และ =
แต่ R programmers จะนิยม <-

class(variable) เพื่อเช็ค data type ของตัวแปร

'''

In [30]:
x <- 10
y <- 20

In [31]:
print( x + y)

[1] 30

In [32]:
my_name <- "Khim"

In [33]:
age <- 20

In [34]:
school <- "DataRockie"

In [35]:
print(my_name)
print(age)
print(school)

[1] "Khim"
[1] 20
[1] "DataRockie"

In [44]:
#create vectors
#function c()

friend <- c("khim", "top", "BB", "PP")

In [45]:
length(friend)

In [46]:
friend[4]

In [47]:
friend[6]

In [48]:
friend[1:3]

In [49]:
ex <- c("toy", "lisa", "jisoo", 500, TRUE, FALSE) 
class(ex)

In [ ]:
#Data Frame ชื่อเรียก table ที่มี column and row

In [5]:
friends <- c("khim", "Prawta", "BB", "Nasa", "singha")
ages <- c(20, 21, 12, 7, 2)
movie_lover <- c(TRUE, FALSE, TRUE, FALSE, TRUE)

In [6]:
df <- data.frame(friends, ages, movie_lover)

In [7]:
df

friends,ages,movie_lover
<chr>,<dbl>,<lgl>
khim,20,TRUE
Prawta,21,FALSE
BB,12,TRUE
Nasa,7,FALSE
singha,2,TRUE

In [6]:
#check dimension row*column
dim(df)

In [8]:
#Add new column
#Table_name$newColumn_name <- c("")
df$location <- c("Bangkok", "Chonburi", "Rayong", "BKK", "BKK")
df

friends,ages,movie_lover,location
<chr>,<dbl>,<lgl>,<chr>
khim,20,TRUE,Bangkok
Prawta,21,FALSE,Chonburi
BB,12,TRUE,Rayong
Nasa,7,FALSE,BKK
singha,2,TRUE,BKK

In [9]:
#delete column
df$location <- NULL
df

friends,ages,movie_lover
<chr>,<dbl>,<lgl>
khim,20,TRUE
Prawta,21,FALSE
BB,12,TRUE
Nasa,7,FALSE
singha,2,TRUE

In [10]:
#Subset Data Frame
#filter row ที่ต้องการ

subset(df, df$ages < 20)

,friends,ages,movie_lover
,<chr>,<dbl>,<lgl>
3,BB,12,TRUE
4,Nasa,7,FALSE
5,singha,2,TRUE

In [11]:
subset(df, df$movie_lover == TRUE)

,friends,ages,movie_lover
,<chr>,<dbl>,<lgl>
1,khim,20,TRUE
3,BB,12,TRUE
5,singha,2,TRUE

In [12]:
#What is Function : input --> output
square <- function(x){
    return(x**2)
}
square(5)

In [16]:
#Control Flow
#IF, FOR, WHILE

#if -else
weather <- "sunny"
if(weather == "sunny"){
    print("love it!")
}else print("boring")

[1] "love it!"

In [17]:
#for loop

for( i in 1:5){
    print("khim")
}

[1] "khim"
[1] "khim"
[1] "khim"
[1] "khim"
[1] "khim"

In [ ]:
#while

while(TRUE){
    #do sth
    #until FALSE
}

In [19]:
check_weather <- function(input){
    if(input == "sunny"){
        print("love it! :)")
    }else print("so bad :(")
}

check_weather("sunny")
check_weather("cloudy")

[1] "love it! :)"
[1] "so bad :("

In [ ]:
Read Data into R
-CSV
-Excel
-GG Sheets
-Database
    SQLite
    PostgreSQL
    MySQL
    Microsoft SQL Server
-JSON
-XML | HTML

In [26]:
url <- "https://gist.githubusercontent.com/toyeiei/77576fc3b016ea073cb4a2b331cb9584/raw/13f65efcbf230e595fd46f17c791a2d090eb57b1/r_example_dataframe.csv"
blackpink <- read.csv(url)
blackpink

id,customer_names,customer_ages,customer_country
<int>,<chr>,<int>,<chr>
1,Lisa,24,Thailand
2,Jisoo,25,Korea
3,Jenny,24,Korea
4,Rose,26,Korea
5,Hana,28,China